<% if logged_in? %>
    Welcome, <%= current_user.username %>.
    <
    <a href="/tweets/new">Create a New Tweet</a>
    <a href="/logout">Sign Out</a>
<% else %>
    Please <a href="/signup">Sign Up</a> or <a href="/login">Log In</a> to continue.
<% end %>